.advantages__list {
  padding: 0 9px 25px 0;
  line-height: 1.24;

  @include mq(768) {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px;
    font-size: 18px;
    line-height: 1.33;
  }

  @include mq(1200) {
    margin: 0 -44px;
    font-size: 24px;
  }
}

.advantages__item {
  display: flex;
  margin: 0 0 18px;
  box-sizing: border-box;

  @include mq(768) {
    display: block;
    width: 31.5%;
    margin: 0 5px 35px;
  }

  @include mq(1200) {
    width: 26%;
    margin: 0 44px 64px;
  }

  &--test {
    flex-direction: column;
    padding: 23px 0 0;
    margin: 0 0 0 2px;

    @include mq(768) {
      display: flex;
      padding: 0 0 8px;
    }
  }


  span {
    display: block;
    width: 60px;
    font-size: 24px;
    line-height: 1.1;

    @include mq(768) {
      margin: 0 0 10px;
      font-size: 40px;
      color: $red1;
    }
  }
}

.advantages__text {
  width: calc(100% - 60px);
  margin: 0;

  @include mq(768) {
    width: auto;
  }
}

.advantages__links-wrapper {
  margin: 0 0 8px;

  @include mq(768) {
    display: flex;
    align-items: center;
    margin: auto 0 5px;
  }

  @include mq(1200) {
    margin: auto 0 10px;
  }
}

.advantages__link {
  display: inline-block;
  vertical-align: middle;
  margin: 0 15px 0 0;
  font-size: 0;
  @include transition(opacity);

  @include mq(768) {
    margin: 0 10px 0 0;
  }

  @include mq(1200) {
    margin: 0 21px 0 0;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.8;
  }

  &:last-child {
    margin: 0;
  }

  svg {
    fill: $blue;
  }
}
